/********** Add Your Global CSS Here **********/
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
input,
textarea,
span,
div,
html,
body,
html a {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-bottomLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-bottomRight
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-topLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-topRight
  > .ant-popover-content
  > .ant-popover-arrow:after {
  left: 0;
  margin-left: -4px;
}

/********** Add Your Global RTL CSS Here **********/
/* Popover */
html[dir='rtl'] .ant-popover {
  text-align: right;
}

/* Ecommerce Card */
html[dir='rtl'] .isoCardInfoForm .ant-input {
  text-align: right;
}

/* Modal */
html[dir='rtl'] .has-success.has-feedback:after,
html[dir='rtl'] .has-warning.has-feedback:after,
html[dir='rtl'] .has-error.has-feedback:after,
html[dir='rtl'] .is-validating.has-feedback:after {
  left: 0;
  right: auto;
}

html[dir='rtl'] .ant-modal-close {
  right: inherit;
  left: 0;
}

html[dir='rtl'] .ant-modal-footer {
  text-align: left;
}

html[dir='rtl'] .ant-modal-footer button + button {
  margin-left: 0;
  margin-right: 8px;
}

html[dir='rtl'] .ant-confirm-body .ant-confirm-content {
  margin-right: 42px;
}

html[dir='rtl'] .ant-btn > .anticon + span,
html[dir='rtl'] .ant-btn > span + .anticon {
  margin-right: 0.5em;
}

html[dir='rtl'] .ant-btn-loading span {
  margin-left: 0;
  margin-right: 0.5em;
}

html[dir='rtl']
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
  padding-left: 25px;
  padding-right: 29px;
}

html[dir='rtl']
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline)
  .anticon {
  margin-right: -14px;
  margin-left: 0;
}

/* Confirm */
html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-body > .anticon {
  margin-left: 16px;
  margin-right: 0;
  float: right;
}

html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-btns {
  float: left;
}

html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-btns button + button {
  margin-right: 10px;
  margin-left: 0;
}

/* Message */
html[dir='rtl'] .ant-message .anticon {
  margin-left: 8px;
  margin-right: 0;
}

/* Pop Confirm */
html[dir='rtl'] .ant-popover-message-title {
  padding-right: 20px;
  padding-left: 0;
}

html[dir='rtl'] .ant-popover-buttons {
  text-align: left;
}

/* Notification */
html[dir='rtl']
  .ant-notification-notice-closable
  .ant-notification-notice-message {
  padding-left: 24px;
  padding-right: 0;
}

html[dir='rtl']
  .ant-notification-notice-with-icon
  .ant-notification-notice-message,
html[dir='rtl']
  .ant-notification-notice-with-icon
  .ant-notification-notice-description {
  margin-right: 48px;
}

html[dir='rtl'] .ant-notification-notice-close {
  right: auto;
  left: 16px;
}

html[dir='rtl'] .ant-notification-notice-with-icon {
  left: 0;
}

/* Dropzone */
html[dir='rtl'] .dz-hidden-input {
  display: none;
}


/*////////////////*//*////////////////*//*////////////////*//*////////////////*/

/*////////////////*//*Custom*/

/*////////////////*//*////////////////*//*////////////////*//*////////////////*/


/*////////////////*//*Flex*/
.col{
  padding: 0 20px !important;
}

.flexRow{
  flex-direction: row !important;
  flex-flow: row !important;
}

.d-flex{
  display: flex !important;
}

.flex-column{
  flex-direction: column !important;
}

.flex-1{
  flex: 1;
}

/*////////////////*//*Utilities*/

.text-left{
  text-align: left;
}

.text-right{
 text-align: right; 
}

.m-0{
  margin: 0;
}

.pt-1{
  padding-top: 20px;
}

.w-100{
  width: 100%;
}

/*////////////////*//*Components*/

.label{
  text-transform: uppercase;
  font-size: 10px;
  color: #ABABAB;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/*////////////////*//*View: Payment*/

.input-bill-container{
  margin-top: 10px;
}

.bill-currency{
  padding-top: 10px;
}

.input-bill-container p, .input-bill-container span{
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
}

.input-bill-container span{
  font-size: 2.3rem;
  line-height: 2.8rem;
}

.input-bill{
  padding-left: 0 !important;
  margin-left: 20px !important;
  background-color: transparent !important;
  border: transparent !important;
  font-size: 6rem !important;
  line-height: 6rem !important;
  height: 85px !important;
  font-weight: 300 !important;
  outline: none !important;
  padding-bottom: 15px !important;
  box-shadow: none !important;
  box-sizing: content-box !important;
  border-bottom: 1px solid #666 !important;
  border-radius: 0 !important;
}

.input-bill-reference{
  border: none !important;
  box-shadow: 4px 4px 24px rgba(2, 156, 226, 0.06);
  padding: 26px 28px !important;
  position: relative;
  margin-top: 25px !important;
}

.input-bill-reference::before{
  display: block;
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #FFF;
}

.ant-layout-sider .ant-menu-item{
  line-height: 55 !important;
  height: 55px !important;
}

.ant-layout-sider .ant-menu-item-selected:after{
  display: none !important;
}

.bill-amount{
  padding: 20px 0;
  background: linear-gradient(to bottom,rgba(35, 35, 35, 0.04) 0%,rgb(255, 255, 255) 30%);
}

.bill-amount-value{
  display: block;
  font-weight: 100;
  font-size: 2rem;
  line-height: 1.9rem;
}


.logoSidebarOpen{
  width:auto;
  height: 40px;
  margin-right: 10px;
  
}
.logoSidebarClosed{
  width:auto;
  height: 30px;
}

.tx_list_item{
  display:block;
}

.tx_list_item_container{
  float: right;
  flex:1;
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items:center;
}

.tx_list_item_amount {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
}

.tx_list_item_amount_icon {
  margin-right:5px;
  margin-bottom:5px;
}

.tx_list_item_data_container{
  display:flex; 
  flex-direction:row;
}

.tx_list_item_data_container span.first{
  flex:1;
}
.tx_list_item_data_container span.second{
  flex:2; 
  text-align:right;
  font-weight: bold;
}
.tx_list_item_data_container span.second span{
  font-weight: bold;
  text-align:right;
}

.tx_list_item_data_container div.flex5{
  flex:5;
}
.tx_list_item_data_container div.flex1{
  flex:1;
}